.nav ul {
	max-width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 10px;
}

.nav li span {
	display: block;
	text-align:center;
}

.nav li p
{
	text-align:center;
}
.texto
{
	font-size: .5em;
}

.nav a {
	display: block;
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.nav i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.nav li a
{
	color: #2185D0;
}

@media (min-width:61.875em)
{
	.nav li {
		display: block;
		float: left;
		width: 12.5%;
	}
	
	.nav li > a
	{
		font-size: 1.15em;
	}
}

@media (min-width:34.375em) and (max-width: 61.875em) {
	
	/* Creating the 2 column layout using floating elements once again */
	.nav li {
		display: block;
		float: left;
		width: 12.5%;
		font-size: .8em;
	}
}

@media (min-width:0em) and (max-width: 34.375em) 
{
	.nav li {
		display: block;
		float: left;
		width: 25%;
		font-size: .6em;
	}
}

/* Styling the toggle menu link and hiding it */
.nav .navtoogle{
	display: none;	
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato',Calibri,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;	
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	cursor: pointer;
}

.navtoogle i{
	z-index: 0;
}

@media (max-width: 625.000em) {

	/* Unhiding the styled menu link */
	.nav .navtoogle{
		margin: 0;
		display: block;
	}
	
	/* Animating the height of the navigation when the button is clicked */
	
	/* When JavaScript is disabled, we hide the menu */
	.no-js .nav ul {
		max-height: 30em;
	}
	
	/* When JavaScript is enabled, we hide the menu */
	.js .nav ul {
		max-height: 0em;
	}
	
	/* Displaying the menu when the user has clicked on the button*/
	.js .nav .active + ul {		
		max-height: 30em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}

	/* Adding a left border of 8 px with a different color for each menu item*/
	.nav li:nth-child(6n+1) {
		border-left: 6px solid rgb(48, 209, 207);
	}

	.nav li:nth-child(6n+2) {
		border-left: 6px solid rgb(48, 131, 209);
	}

	.nav li:nth-child(6n+3) {
		border-left: 6px solid rgb(50, 48, 209);
	}

	.nav li:nth-child(6n+4) {
		border-left: 6px solid rgb(80, 235, 240);
	}

	.nav li:nth-child(6n+5) {
		border-left: 6px solid rgb(80, 187, 240);
	}

	.nav li:nth-child(6n+6) {
		border-left: 6px solid rgb(80, 128, 240);
	}

	/* make the nav bigger on touch screens */
	.touch .nav a {
		padding: 0.3em;
	}
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.main,
.container > header {
	width: 95%;
	margin: 0 auto;
}

.main {
}

/*@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
}*/



