.noMostrar{
	display: none;
}

body{
	background-image: url("img/background-login2.jpg");
	
}

button a{
	font-size:.8rem;
	font-family:white;
	border-radius: 3px;
	border:1px;
	color:white;
	width: center;	
	font-family: 'Russo One', sans-serif;
	padding-top:10px;
	text-align:left;
}

@media(min-width:480px){
	
	.text{
		text-align:left;
		color:#ffffff;
	}
	
	.btnEx{
		width:auto;
		height:0px;
		text-align:right;
		padding-bottom:2px;
	}
	
	.txtl{
		width:220px;
	}
	
	.frm{
		width:480px;
		text-align:right;
		padding-left:10px;
	}

	.scrollbar{
		margin-left: 30px;
		float: left;
		height: 300px;
		width: 65px;
		background: #F5F5F5;
		overflow-y: scroll;
		margin-bottom: 25px;
	}

	.force-overflow{
		min-height: 450px;
	}

	#style-1::-webkit-scrollbar-track{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}
}

@media(min-width:768px){
	
	.text{
		text-align:left;
		color:#ffffff;
		font-size:16px;
	}
	
	.btnEx{
		width:auto;
		height:0px;
		text-align:right;
		padding-bottom:2px;
	}
	
	.txtl{
		width:220px;
	}
	
	.frm{
		width:750px;
		text-align:center;
		padding-left:10px;
	}
	
	button a{
	font-size:1rem;
	font-family:white;
	border-radius: 3px;
	border:1px;
	color:white;
	width: auto;	
	font-family: 'Russo One', sans-serif;
	padding-top:10px;
	text-align:left;
}
	
}



@media(min-width:1024px){
	
	.text{
		text-align:center;
		color:#ffffff;
	}
	
	.btnEx{
		width:auto;
		height:0px;
		text-align:500px;
		padding-bottom:8px;
	}
	
	.txtl{
		width:150px;
	}
	
	.frm{
		width:1000px;
		text-align:center;
		padding-left:10px;
		
	}
	
	button a{
	font-size:1.2rem;
	font-family:white;
	border-radius: 3px;
	border:1px;
	color:white;
	width:10px;	
	font-family: 'Russo One', sans-serif;
	padding-top:10px;
	text-align:center;
	}


@media(min-width:1294px){
	
	.text{
		text-align:center;
		color:#ffffff;
	}
	
	.btnEx{
		width:auto;
		height:0px;
		text-align:500px;
		padding-bottom:8px;
	}
	
	.txtl{
		width:150px;
	}
	
	.frm{
		width:1500px;
		text-align:center;
		padding-left:10px;
		text-align: center;
		
	}
	
	button a{
	font-size:1.2rem;
	font-family:white;
	border-radius: 3px;
	border:1px;
	color:white;
	width:10px;	
	font-family: 'Russo One', sans-serif;
	padding-top:10px;
	text-align:center;
	}
	
	@media(min-width:1928px){
	
	.text{
		text-align:center;
		color:#ffffff;
	}
	
	.btnEx{
		width:auto;
		height:0px;
		text-align:500px;
		padding-bottom:8px;
	}
	
	.txtl{
		width:150px;
	}
	
	.frm{
		width:0px;
		text-align:center;
		padding-left:5px;
		padding-right: 5px;
		height:200px;
	}
	
	button a{
		font-size:1.2rem;
		font-family:white;
		border-radius: 3px;
		border:1px;
		color:white;
		width:10px;	
		font-family: 'Russo One', sans-serif;
		padding-top:10px;
		text-align:center;
	}

}

