.frm{
	text-align: center;
	width: 300px;
	margin-left: 780px;
}

.la{
	padding-bottom: 15px;
}

@media (min-width:768px) {
	.frm{
		text-align: center;
		width: 300px;
		margin-left: 300px;
	}

	.la{
		padding-bottom: 15px;
	}
	
}

@media (min-width:1024px) {
	.frm{
		text-align: center;
		width: 300px;
		margin-left: 780px;
	}

	.la{
		padding-bottom: 15px;
	}
	
}