﻿.containerMaterial {
    -webkit-box-shadow: 0px 2px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 20px -5px rgba(0,0,0,0.75);
}

.dataTables_wrapper table tbody {
    color: #303641 !important;
    font-size: 1.2em;
}