body {
  /* Location of the image */
  background-image: url(img/background-login2.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #2D323D;
  
  text:#f4f4f4;
}
#menug{
	background-color: #0D4270;
}

#bajar{
		margin-top: 1em;
        width: 98%;
	}

#detallesGRID .ui.table td {
    padding: 0px 3px !important;
    text-align: inherit;
}

#agranda{
	width: 200% !important;
}

#imglogo{
    height: 150px;
    width: 250px;
	margin-right: 10px;
	margin-top: 3em;
}

#bordered{
    border-color: #e53935;
}
#panellogin{
    background-color: #1a237e;
    color:white;
}

.slider {
    width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 100%;
    
}
#tablefacturalogistica{
	font-size: 12px;
}
#tablecomprobantes{
	
		
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



#idpos{
	width: 0;
}

#idposicion{
	display: none;
}

.cuadro,#obra{
	margin-bottom: 15px;
	display: inline-block;
}


table{
	font-size: 12px;
	/* margin-left: -70px; */
	text-align: left;	
	text-transform: uppercase;
}
table tr:nth-child(4) {
  text-align: left;
  
}

.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: #f5f5f5; padding: 1em;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}