* {
    font-family: 'Montserrat', sans-serif;
}

body {
  color: #000 !important;
}

.page-body .select2-drop .select2-search .select2-result-label, .page-body .select2-drop .select2-results .select2-result-label {
    font-size: 1.2em;
    color: #06356d;
}



table.dataTable.dtr-column > tbody > tr > td.control:before, table.dataTable.dtr-column > tbody > tr > th.control:before {
    /* margin-top: 15px !important; */
    /* margin-left: 43% !important; */
    background-color: #0072bc !important;
}

.lblPerfilUserTop {
    font-size: 12px;
    margin-top: -28px;
    float: left;
    margin-left: 84px;
}


/* personalizacion de neon */
.form-control {
    height: 31px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    border-radius: 3px;
}

.page-body .select2-container .select2-choice {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    color: #454a54;
}

.form-group {
    margin-bottom: 10px;
}

/* preloader luis */

.box {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.box-icono {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-16%);
    overflow: hidden;
}

.box .b {
    border-radius: 50%;
    border-left: 6px solid;
    border-right: 6px solid;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent !important;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: ro 2s infinite;
}

.box .b1 {
    border-color: white; 
    width: 210px;
    height: 210px;
    animation-delay: 0.1s;
}

.box .b2 {
    border-color: #2196f2;
    width: 180px;
    height: 180px;
    animation-delay: 0.3s;
}

.box .b3 {
    border-color: white; 
    width: 150px;
    height: 150px;
    animation-delay: 0.5s;
}

.box .b4 {
    border-color: #2196f2;
    width: 120px;
    height: 120px;
    animation-delay: 0.7s;
}

@keyframes ro {
    0% {
        transform: translate(-50%,-50%) rotate( 0deg )
    }
    50% {
        transform: translate(-50%,-50%) rotate( -180deg )
    }  
    100% {
        transform: translate(-50%,-50%) rotate( 0deg )
    }
    
}

/* fin preloader */


/* Inicio Estilo de preeloader */

.swal2-popup .swal2-title {
    font-weight: 300 !important;
}

.noMostrar{
	display: none;
}

#loading {
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   background-color: #fcc125;
   z-index: 9999;
   text-align: center;
}

#loading-image {
    width: 128px;
    z-index: 100;
    margin-top: 12%;
}




.spinnerWrapper {
  margin:10px auto 0 auto;
}
.spinnerOuter,
.spinnerMiddle {
    background-color: transparent;
    opacity: .9;
    border-radius: 50px;
    margin: 0 auto !important;
    position: relative !important;
    border: 5px solid #1a78c2;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
}
        
.spinnerOuter {
    width: 50px;
    height: 50px;
    -moz-animation: spin 3s infinite linear;
    -webkit-animation: spin 3s infinite linear;
}
        
.spinnerMiddle {
    width: 30px;
    height: 30px;
    top: -40px !important;
    -moz-animation: spinoff 2.5s infinite linear;
    -webkit-animation: spinoff 2.5s infinite linear;
    border-color: #2196f3;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
}
        
@-moz-keyframes spin {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);};
}

@-moz-keyframes spinoff {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(-360deg);};
} 



@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);};
}

@-webkit-keyframes spinoff {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);};
}


#imglogo2{
    height: 85px;
    /* width: 130px; */
    margin-right: 10px;
    float: left;
    margin-top: -15px;
}

.element-wrapper {
  position: fixed;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.element {
  width: 17%;
  height: 30%;
  background: white;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

.loading {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 85px;
}

@-webkit-keyframes translateIn {
  30% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    opacity: 0.25;
  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    opacity: 0;
  }
}
@keyframes translateIn {
  30% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    opacity: 0.25;
  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    opacity: 0;
  }
}
.element {
  opacity: 0;
}
.element:nth-of-type(1) {
  -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(30px);
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(30px);
  -webkit-animation: translateIn 1.5s ease-in infinite 500ms;
  animation: translateIn 1.5s ease-in infinite 500ms;
}
.element:nth-of-type(2) {
  -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(60px);
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(60px);
  -webkit-animation: translateIn 1.5s ease-in infinite 700ms;
  animation: translateIn 1.5s ease-in infinite 700ms;
}
.element:nth-of-type(3) {
  -webkit-transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(90px);
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(90px);
  -webkit-animation: translateIn 1.5s ease-in infinite 800ms;
  animation: translateIn 1.5s ease-in infinite 800ms;
}

@-webkit-keyframes scaleIn {
  80% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
  }
}
@keyframes scaleIn {
  80% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
  }
}
.large-square {
  width: 20%;
  height: 34%;
  background: white;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
  -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
  opacity: 0;
  -webkit-animation: scaleIn 3s linear infinite 500ms;
  animation: scaleIn 3s linear infinite 500ms;
}











#page-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: #FFF none repeat scroll 0% 0%;
	z-index: 99999;
}
#page-loader .preloader-interior {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#page-loader .preloader-interior:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#page-loader .preloader-interior:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


/* Fin Estilo de preeloader */


/* #################### LOADERS ############### */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.triangles {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 81px;
  width: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.tri {
  position: absolute;
  -webkit-animation: pulse 750ms ease-in infinite;
  -moz-animation: pulse 750ms ease-in infinite;
  animation: pulse 750ms ease-in infinite;
  border-top: 14px solid #21a9e1;
  border-left: 14px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 0px;
}
.tri.invert {
  border-top: 0px;
  border-bottom: 27px solid #21a9e1;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.tri:nth-child(1) {
  left: 30px;
}
.tri:nth-child(2) {
  left: 15px;
  top: 27px;
  -webkit-animation-delay: -125ms;
  -moz-animation-delay: -125ms;
  animation-delay: -125ms;
}
.tri:nth-child(3) {
  left: 30px;
  top: 27px;
}
.tri:nth-child(4) {
  left: 45px;
  top: 27px;
  -webkit-animation-delay: -625ms;
  -moz-animation-delay: -625ms;
  animation-delay: -625ms;
}
.tri:nth-child(5) {
  top: 54px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(6) {
  top: 54px;
  left: 15px;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
  animation-delay: -250ms;
}
.tri:nth-child(7) {
  top: 54px;
  left: 30px;
  -webkit-animation-delay: -375ms;
  -moz-animation-delay: -375ms;
  animation-delay: -375ms;
}
.tri:nth-child(8) {
  top: 54px;
  left: 45px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}
.tri:nth-child(9) {
  top: 54px;
  left: 60px;
  -webkit-animation-delay: -500ms;
  -moz-animation-delay: -500ms;
  animation-delay: -500ms;
}










/* Animation */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px;
  margin-left: -20px;
}
.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px;
}
.loading__ring:first-child {
  -webkit-transform: skew(30deg, 20deg);
          transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
          transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}





#outline {
  stroke-dasharray: 2.42777px, 242.77666px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 1.6s linear infinite;
          animation: anim 1.6s linear infinite;
}

@-webkit-keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }
  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }
  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }
  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }
  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}
.check-out {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
}





.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


/* ###################FIN LOADERS ############# */


.containerLoaderMessageAnimation{
    margin-left: 50%;
    margin-top: 40%;
}

body.swal2-shown > [aria-hidden="true"] {
  filter: blur(2px);
}

body > * {
    transition: 0.15s filter linear;
}


.hr-theme-slash-2 {
  display: flex;
}
.hr-theme-slash-2 .hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 1px solid #000;
}
.hr-theme-slash-2 .hr-icon {
  position: relative;
  top: 3px;
  font-size: 28px;
}















.spinner-wrapper {
    /* margin: auto auto; */
    width: 264px;
    height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*** Server CSS ***/
.server-wrapper {
    float: left;
    /* width: 150px; */
    /* height: 100px; */
    position: relative;
    /* top: -5px; */
    /* left: 40px; */
}

.server {
    position: relative;
    /* left: 22px; */
    height: 17px;
    width: 61px;
    background-color: #303641;
    border-radius: 5px;
    margin-top: 3px;
}

.HDD {
    background-color: white;
    position: relative;
    float: left;
    top: 8px;
    height: 2px;
    width: 35px;
    margin-left: 10px;
    border-radius: 2px;
}

.indicator {
    background-color: lime;
    border: 1px solid black;
    position: relative;
    float: left;
    top: 5px;
    height: 5px;
    width: 5px;
    margin-left: 7px;
    border-radius: 10px;
}

@-webkit-keyframes pulse {
    0% {
        background: rgba(255,255,255,.15);
    }

    100% {
        background: red;
    }
}

.server:nth-child(3) .indicator {
    background: rgba(255,255,255,.15);
    -webkit-animation: pulse .5s infinite alternate;
}

@-webkit-keyframes pulse_three {
    0% {
        background: rgba(255,255,255,.15);
    }

    100% {
        background: orange;
    }
}

.server:nth-child(1) .indicator {
    background: rgba(255,255,255,.15);
    -webkit-animation: pulse_three .7s infinite alternate;
}

@-webkit-keyframes pulse_two {
    0% {
        background: rgba(255,255,255,.15);
    }

    100% {
        background: yellow;
    }
}

.server:nth-child(4) .indicator {
    background: rgba(255,255,255,.15);
    -webkit-animation: pulse_two .175s infinite alternate;
}


/*** Spinner CSS ***/
.spinner {
    margin: 18px auto;
    float: left;
    width: 122px;
    height: 20px;
    text-align: center;
    font-size: 10px;
}

    .spinner > div {
        background-color: #373e4a;
        height: 100%;
        width: 10px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 4.0s infinite ease-in-out;
        animation: sk-stretchdelay 1.0s infinite ease-in-out;
        margin-left: 1px;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -3.9s;
        animation-delay: -3.9s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -3.8s;
        animation-delay: -3.8s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -3.7s;
        animation-delay: -3.7s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -3.6s;
        animation-delay: -3.6s;
    }

    .spinner .rect6 {
        -webkit-animation-delay: -3.5s;
        animation-delay: -3.5s;
    }

    .spinner .rect7 {
        -webkit-animation-delay: -3.4s;
        animation-delay: -3.4s;
    }

    .spinner .rect8 {
        -webkit-animation-delay: -3.3;
        animation-delay: -3.3s;
    }

    .spinner .rect9 {
        -webkit-animation-delay: -3.2s;
        animation-delay: -3.2s;
    }

    .spinner .rect10 {
        -webkit-animation-delay: -3.1s;
        animation-delay: -3.1s;
    }

    .spinner .rect20 {
        -webkit-animation-delay: -1.5s;
        animation-delay: -1.5s;
    }

    .spinner .rect19 {
        -webkit-animation-delay: -1.4s;
        animation-delay: -1.4s;
    }

    .spinner .rect18 {
        -webkit-animation-delay: -1.3s;
        animation-delay: -1.3s;
    }

    .spinner .rect17 {
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s;
    }

    .spinner .rect16 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect15 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect14 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect13 {
        -webkit-animation-delay: -0.8;
        animation-delay: -0.8s;
    }

    .spinner .rect12 {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }

    .spinner .rect11 {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/*** Probe CSS ***/
.probe {
    float: left;
    /* width: 68px; */
    height: 100px;
}

.screen {
    width: 80px;
    height: 80px;
    background: lightgray -webkit-linear-gradient(155deg, darkgray 72.2%, rgba(255, 255, 255, 0.25) 72.2%);
    background: lightgray linear-gradient(-65deg, darkgray 72.2%, rgba(255, 255, 255, 0.25) 72.2%);
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 4px;
}

.screen::after {
    content: "VRM Core";
    color: #21a9e1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -18px;
    background: #373e4a;
    border-radius: 4px;
    z-index: -2;
    -webkit-transition: all .5s;
    transition: all .5s;
    padding-top: 83px;
    text-align: center;
}

.slit {
    background-color: gray;
    width: 60px;
    height: 2px;
    margin-left: 10px;
    margin-top: 3px;
}

.blue {
    width: 5px;
    height: 5px;
    background-color: blue;
    box-shadow: 0px 0px 25px 9px blue;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 10px;
}

.yellow {
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 10px;
}

body .input-group-addon {
  color: #555555 !important;
}